<template>
  <div>

    <top-bar></top-bar>

    <div class="content-wrap">
        
          <router-view></router-view>

        <spa-footer></spa-footer>
    </div>
  </div>
</template>


<script>

import menu from "./menu";
import topBar from "./topBar";
import footer from "./footer";
import { confirmLogout } from "@/_oad_repo/auth";

export default {
    components: {
        'top-bar': topBar,
        'spa-menu': menu,
        'spa-footer': footer
    },
    data() {
        return {
            menu_primary: {},
            menu_secondary: {},
            second_menu_opened: false,
        }
    },
    methods: {
        confirmLogout
    },
    mounted() {
      document.body.classList.remove("front");
      axios.get('/layout')
      .then(res => {
          if (typeof res !== 'undefined') {
              this.menu_primary = res.data.menu_primary
              this.menu_secondary = res.data.menu_secondary
          }          
      })
    }
};
</script>