<template>
  <div @mouseover="$parent.second_menu_opened = false" class="top-bar">
    <div class="top-right-menu">

      <ul>
        <li>
          <dropdown-menu v-model="showDropdown.user" :right="true" :interactive="true">
            <i class="fal fa-user"></i>
            <div class="dd-menu" slot="dropdown">
              <ul>
                <li class="border-bottom">
                                    <span>Signed in as:<br>
                                     <b>{{ $store.state.user.name }}</b> ({{ $store.state.user.email }})</span>
                </li>
                <li>
                  <a href="" @click.prevent="openPasswordForm"><i class="far fa-lock-open"></i> Change Password</a>
                </li>
                <li>
                  <a href="" @click.prevent="$parent.confirmLogout"><i class="far fa-power-off"></i> Logout</a>
                </li>
              </ul>
            </div>
          </dropdown-menu>
        </li>
      </ul>

      <b-modal
          id="password-form"
          ok-only
          ok-title="Save"
          @ok.prevent="savePassword"
          modal-class="modal-primary"
          centered
          :ok-disabled="!form_validation"
          title="Change Password"
      >
        <b-card-text class="position-relative">
          <div v-show="loader" class="form-loader position-absolute">
            <div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div>
          </div>
          <b-row>
            <b-col class="mb-3" cols="12">
              <f-set v-model="form.current_password" :data="makeField({ name: 'current_password', label: 'Current Password', type: 'password'})"/>
            </b-col>
            <b-col class="mb-3" cols-12>
              <f-set v-model="form.password" :data="makeField({ name: 'password', label: 'New Password', type: 'password'})"/>
            </b-col>
            <b-col cols="12">
              <f-set v-model="form.password_confirmation" :data="makeField({ name: 'password_confirmation', label: 'Confirm Password', type: 'password'})"/>
            </b-col>
          </b-row>
        </b-card-text>
      </b-modal>

    </div>
  </div>
</template>

<script>
//https://innologica.github.io/vue-dropdown-menu/#installation
import fieldBuilder from '@/mixins/fieldBuilder';
export default {
  mixins: [ fieldBuilder ],
  data() {
    return {
      showDropdown: {
        user: false,
      },
      loader: false,
      formSubmited: false,
      form: {
        current_password: '',
        password: '',
        password_confirmation: '',
      }
    }
  },
  computed: {
    form_validation() {
      return (this.form.current_password !== '' && this.form.password !== '' && this.form.password_confirmation !== '' && !this.formSubmited)
    }
  },
  methods: {
    openPasswordForm() {
        this.form.current_password = '';
        this.form.password = '';
        this.form.password_confirmation = '';
        this.$bvModal.show('password-form')
    },
    savePassword() {
      this.formSubmited = true
      this.loader = true
      axios.post('/d/users/changePassword', this.form)
        .then((res) => {
            if (res.data.status == 'success') {
                this.$store.commit('setUserPhash', res.data.phash)
                this.$bvModal.hide('password-form')
            }          
            this.$utils.c_notify( res.data.res, res.data.status);
            this.formSubmited = false
            this.loader = false
        })
        .catch(error => {
          this.formSubmited = false
          this.loader = false
        })
    }
  }
}
</script>