// Body
$body-bg: #f8fafc;

//top-bar
$tbHeight: 60px;

//menu
$menuWidth: 0px;
$secMenuWidth: 250px;

//content
$contentLeftRightPadding: 30px;
$contentPadding: 20px $contentLeftRightPadding 30px;
$borderRadius: 5px;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Bootstrap Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #e7d744;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #0444b5;
$primary25t: rgba($primary, 0.25);
$conentBgColor: #fff;
$panelLoaderBg: #ffffffad;
$panelLoaderColor: rgba($primary, 0.44);
$menuFontColor: #dfe6f8;
$hrColor: #dee2e6;
$menuHoverFontColor: #f0f5ff;
$menuHoverBgColor: #d69f53;
$menuSelectedBgColor: #dc8e24;
$componentAnimation: backendMount 0.8s;
$formAnimationClose: formDismount 0.5s;
$frontComponentAnimation: fadeIn 0.5s;

$fieldBgColor: #f8f9fa;
$fieldBorderRadius: 3px;
$fieldHeight: 34px;

$hoverBg: rgba($primary, 0.61);
$hoverColor: #fff;

$vs-state-active-bg: $hoverBg;
$vs-state-active-color: $hoverColor;

$fieldBorderColor: #ced4da;
