<template>
    <div class="login-box p-5 onComponentLoadFront">
        <logo />
        <form @submit.prevent="loginAction">

            <div class="input-group mb-5">
                <input id="pwrd" v-model="form.password" type="password" class="form-control" placeholder="Password">
                <div class="input-group-append"><span class="input-group-text"><i class="far fa-lock-alt"></i></span></div>
            </div>

            <btn type="submit" css="w-100 btn-primary mb-3">Login</btn>

        </form>

    </div>
</template>

<script>

import { login } from "@/_oad_repo/auth";
import form from '@/mixins/form'
import logo from './logo'
import { utils } from '@/_oad_repo/utils';
import { setAxiosToken } from '@/_oad_repo/auth';
import CONF from '@/config';
import store from "@/store/index";
import router from "@/routes";

export default {
    components: { logo },
    mixins: [form],
    data() { 
        return {
            form: {
                password: '',
            }
        } 
    },
    methods: {
        loginAction() {
            this.login(this)
        },
        login(self) 
        {
            self.loading = true;
            axios.post(CONF.APP_URL + '/login', self.form )
            .then(res => {

                if (res) {
                    utils.c_notify(res.data.res, res.data.status);

                    if (res.data.status == 'success') {
                        setAxiosToken(res.data.token)
                        store.commit('setUser', res.data.user );
                        store.commit('setExpiration', res.data.expiration );
                        if (store.state.redirectUrl) {
                            let url = store.state.redirectUrl;
                            if (url === '' || url === '/')
                                url = CONF.APP_DEFAULT_URL
                            store.commit('setRedirectUrl', '');
                            router.push(url);
                        } else {
                            router.push(CONF.APP_DEFAULT_URL)
                        }

                    } else if(res.data.status == 'warning' && res.data.action == 'verify') {
                        router.push({
                            path: '/auth/verify_device',
                            query: {
                                id: res.data.id
                            }
                        })
                    } else if (res.data.status == 'error') {
                        document.getElementById('pwrd').focus()
                        document.getElementById('pwrd').setSelectionRange(0, document.getElementById('pwrd').value.length)
                    }

                }

                self.loading = false;
            })
            .catch((error) => {
                console.log(error)
                utils.c_notify('Something went wrong. Please try again', 'warning');
                self.loading = false;
            })
        },
        afterFormLoaded() 
        {
            setTimeout(() => document.getElementById('pwrd').focus(), 400)   
        }
    }
}
</script>