<template>
  <div class="login-box p-5 onComponentLoadFront">
    <logo />
    <form @submit.prevent="send">

      <b-alert
          variant="primary"
          show
      >
        <div class="alert-body">
          <span>This is a new device. Requires a confirmation. The activation code has been send to your email address</span>
        </div>
      </b-alert>

      <div class="input-group mb-5">
        <input v-model="form.code" type="text" class="form-control" placeholder="Activation Code">
        <div class="input-group-append"><span class="input-group-text"><i class="far fa-key"></i></span></div>
      </div>

      <btn type="submit" css="w-100 btn-primary mb-3">Verify</btn>

      <div class="text-center">
        <router-link :to="{ name: 'login' }" class="text-secondary">Back to Login</router-link>
      </div>

    </form>

  </div>
</template>

<script>

import { verifyDevice } from "@/_oad_repo/auth";
import form from '@/mixins/form'
import logo from './logo'

export default {
  components: { logo },
  mixins: [form],
  data() {
    return {
      form: {
        code: ''
      }
    }
  },
  methods: {
    send() {
      verifyDevice(this)
    }
  }
}
</script>