<template>
<div class="onComponentLoad pb-4 footer_alignment" :class="panelClasses">

    <div class="panel-title-wrap d-flex justify-content-between">
      <span>{{ pageTitle }}</span>
      <span @click="toggleTags" class="tagsToggle" :class="(tagsOpened) ? 'active' : ''">
        <i class="fal fa-tags"></i>
      </span>
    </div>

    <div class="d-flex pageContent">
        <div class="tags-menu pr-3" :class="(tagsOpened) ? 'active' : ''">
            <b-container>
                <b-row>
                    <b-col class="d-flex">
                        <b-input-group class="tableSearchGroup">
                            <b-form-input ref="input" class="tableSearch" placeholder="Filter Tags" v-model="tagsSearch"></b-form-input>
                            <b-input-group-append>
                                <span v-show="tagsSearch.length" @click="clearTagsSearch" class="input-group-text border-left-0 pointer"><i class="fal fa-times blue"></i></span>
                                <span class="input-group-text border-left-0"><i class="fal fa-search blue"></i></span>
                            </b-input-group-append>
                          </b-input-group>
                        <div class="pl-2 d-flex justify-content-between align-items-center">
                          <b-button class="addTagButton" :disabled="tagsSearch.length === 0" variant="outline-primary" @click="addTag" title="Copy Title"><i class="fal fa-plus"></i></b-button>
                        </div>
                    </b-col>
                </b-row>
                <b-row class="position-relative">

                  <div v-show="tagsLoader" class="form-loader tagsLoader">
                    <div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div>
                  </div>

                  <b-col>
                        <ul id="tags">
                            <li v-for="(item,index) in tags" @click="clickHelper(item)" :key="index" :class="isTagSelected(item.hash)"><i :class="item.icon"></i> {{ item.title }}</li>
                        </ul>
                    </b-col>
                </b-row>
            </b-container>
        </div>
        <div class="contentTable flex-grow-1">
            <b-container>
                <b-row class="mb-3 d-flex justify-content-between">
                    <div class="table-header">
                        <table-search ref="pswrdsIndexSearch" :tableRef="mainTableRef" @vt-search-updated="tableSearchUpdated"></table-search>
                        <div class="selected-tags">
                          <div v-for="(tag, index) in selectedTags"
                               :key="index"
                               class="selectedTag">
                            <b-button @click="removeTagFilter(tag)" variant="outline-success"><span class="d-none d-sm-inline">{{tag.title}}</span>  <i class="fal fa-times"></i></b-button>
                          </div>
                        </div>
                    </div>

                    <div class="table-actions">
                        <btn v-show="c_filtersApplied" variant="outline-primary" @click="clearAllFilters"><i class="fal fa-eraser"></i> <span class="d-none d-sm-inline"></span></btn>
                        <btn v-show="c_checkboxesSelected" variant="outline-primary" @click="tagsBulk('tagsAddBulk')"><i class="fal fa-plus"></i> <i class="fal fa-tag"></i><span class="d-none d-sm-inline"></span></btn>
                        <btn v-show="c_checkboxesSelected" variant="outline-primary" @click="tagsBulk('tagsRemoveBulk')"><i class="fal fa-minus"></i> <i class="fal fa-tag"></i><span class="d-none d-sm-inline"></span></btn>
                        <btn variant="outline-warning" @click="listFavorite"><i :class="{ 'fal fa-star': !favoriteOnly, 'fas fa-star': favoriteOnly }"></i><span class="d-none d-sm-inline"></span></btn>
                        <btn variant="outline-success" @click="tableAeItem(mainTableRef)"><i class="fal fa-plus"></i><span class="d-none d-sm-inline"></span></btn>
                        <btn variant="outline-primary" @click="tableRefresh(mainTableRef)"><i class="fal fa-redo"></i><span class="d-none d-sm-inline"></span></btn>
                        <dropdown-menu class="d-inline" v-model="columnVisDD" :right="true" :interactive="true">
                          <btn variant="outline-primary" :loading="loading" title="Show/Hide Columns"><i class="fal fa-columns"></i><span class="d-none d-sm-inline"></span></btn>
                          <div class="dd-menu" slot="dropdown">
                            <ul>
                              <li v-for="(item,key) in togglableCols(mainTableRef)" class="p-2 pl-3 text-nowrap pointer" @click="toggleColumn(mainTableRef,item.name)" :key="key">
                                <input type="checkbox" :checked="vTablesConfigs[mainTableRef].cols.find(o => o.name == item.name).visible">
                                <span v-html="item.title" class="d-inline"></span>
                              </li>
                            </ul>
                          </div>
                        </dropdown-menu>
                    </div>
                </b-row>
                <b-row class="mobileTags">
                  <div class="selected-tags">
                    <div v-for="(tag, index) in selectedTags"
                         :key="index"
                         class="selectedTag">
                      <b-button @click="removeTagFilter(tag)" variant="outline-success"><span class="d-sm-inline">{{tag.title}}</span>  <i class="fal fa-times"></i></b-button>
                    </div>
                  </div>
                </b-row>
            </b-container>

            <my-vuetable :ref="mainTableRef" @action-btn-clicked="tableAeItem" @cell-clicked="cellClicked" @checkbox-toggled="checkboxToggled" @cell-dbclicked="cellDBClicked" :tableConf="mainTable" />

            <router-view/>

            <b-modal
                id="tag-modal"
                modal-class="modal-primary"
                centered
                title="Edit Tag"
            >
              <b-card-text v-if="tagForm">
                <b-row>
                  <b-col>
                    <f-set v-model="tagForm.icon" :data="makeField({ name: 'icon', label: 'Icon', type: 'text'})"/>
                  </b-col>
                  <b-col>
                    <f-set v-model="tagForm.title" :data="makeField({ name: 'title', label: 'Title', type: 'text'})"/>
                  </b-col>
                </b-row>
              </b-card-text>

              <template #modal-footer="{ ok, cancel, hide }">
                <div v-if="tagForm" class="d-flex justify-content-between w-100">
                  <b-button :disabled="modalLoading" @click="deleteTag" size="sm" variant="danger">Delete</b-button>
                  <b-button :disabled="!tagForm.title || modalLoading" @click="editTag" size="sm" variant="success">Save</b-button>
                </div>
              </template>
            </b-modal>

            <b-modal
                id="tags-bulk-modal"
                modal-class="modal-primary"
                centered
                hide-footer
                title="Add Tags to Selected Items"
            >
              <b-card-text>
                <b-row>
                  <b-col>
                    <f-set v-model="tagBulkForm.tags" :data="makeField({ name: 'tags', label: 'Tags', ajax: '/d/pswrds/tags_list', type: 'select', multiple: true})"/>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col class="text-center pt-4">
                    <b-button :disabled="!tagBulkForm.tags || modalLoading" @click="tagsBulkUpdate" size="sm" variant="success">Save</b-button>
                  </b-col>
                </b-row>
              </b-card-text>
            </b-modal>


        </div>
    </div>

</div>
</template>

<script>
import table from '@/mixins/table';
import panel from '@/mixins/panel'
import crypt from '@/mixins/crypt'
import formatting from '@/mixins/formatting';
import fieldBuilder from '@/mixins/fieldBuilder';
import { mapGetters } from 'vuex';

export default {
    mixins: [ table, formatting, fieldBuilder, panel, crypt ],
    data() {
        return {
            pageTitle: 'Passwords',
            mainTableRef: 'pswrdsIndex',
            tags: [],
            tagsSearch: '',
            delayTagTimer: {},
            selectedHashes: [],
            vTablesConfigs: {
                pswrdsIndex: this.makeTable({
                    url: '/pswrds',
                    ref: 'pswrdsIndex',
                    formComponentName: 'pswrdsForm',
                    useStore: false,
                    cols: [
                        { name: 'hash', visible: false, searchable: false },
                        { name: '__checkbox', searchable: false, noSelect: true,},
                        { name: 'favorite', visible: false, searchable: false },
                        { name: 'title', title: 'Title', sortField: 'title', dataClass: 'pointer', canToggle: true, visible: true },
                        { name: 'username', title: 'Username', sortField: 'username', dataClass: 'pointer', canToggle: true, visible: true },
                        { name: 'pswrd', title: 'Password', dataClass:'passCell pointer nowrap', width: '150px', searchable: false, callback: this.indexPass, canToggle: true, visible: true },
                        { name: 'url', title: 'URL', sortField: 'url', dataClass: 'urlCell pointer', canToggle: true, visible: true, visible: false  },
                        { name: 'created_at', title: 'Added', sortField: 'created_at', width: '150px', dataClass: 'pointer', callback: this.dateFormat, canToggle: true, visible: false },
                        { name: 'updated_at', title: 'Modified', sortField: 'updated_at', width: '150px', dataClass: 'pointer', callback: this.dateFormat, canToggle: true, visible: false },
                        { name: '__component:table-action-btns', title: '', titleClass: 'dt-action-col', dataClass: 'p-0',width: '170px !important', noSelect: true, searchable: false }
                    ],
                    sortOrder: [{ field: 'created_at', direction: 'desc' }],
                    filters: {
                      tags: [],
                      favorite: null
                    },
                    onRowClass: this.rowClass
                })
            },
            favoriteOnly: false,
            tagsLoader: false,
            table_search: '',
            selectedTags: [],
            delay: 300,
            clicks: 0,
            timer: null,
            tagForm: null,
            tagBulkForm: {
                tags: null
            },
            selectedTagTitle: '',
            columnVisDD: false,
            tagsOpened: false,
            modalLoading: false,
        }
    },
    computed: {
      c_checkboxesSelected() {
          return this.selectedHashes.length > 0;
      },
        c_filtersApplied() {
            return this.selectedTags.length > 0 || this.table_search
        }
    },
    watch: {
        tagsSearch(val) {
            clearTimeout(this.delayTagTimer);

            this.delayTagTimer = setTimeout(() => {
              this.loadTags()
            } , 300)
        }
    },
    methods: {
        rowClass(item)
        {
            return item.favorite ? 'bg-warning bg-gradient text-primary' : '';
        },
        indexPass() {
            return '<i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i>'
                        + '<i class="fas fa-circle d-mobile-hide"></i><i class="fas fa-circle d-mobile-hide"></i>';
        },
        async cellDBClicked(payload) {
            this.copyCellContent(payload.rowData[payload.cellData.name],payload.cellData.title,payload.cellData.name,payload.rowData.hash)
        },
        cellClicked(data) {
            if (data.cellData.name == 'title') {
                //check if form is opened
                if (this.$route.name == 'pswrdsForm') {
                    this.$router.go(-1)
                    setTimeout(() => this.cellClicked(data),700)
                } else {
                    this.tableAeItem('pswrdsIndex', {
                        action: 'edit',
                        rowData: data.rowData
                    });
                }
            }
        },
        copyCellContent(value,columnTitle,cellType,hash) {
            if (cellType == 'pswrd') {
              value = this.decrypt(value)
              axios.post('/d/pswrds/touch', { hash: hash})
            }
            this.$utils.copyToClipboard(value);
            this.$utils.c_notify( "<b>'" + columnTitle + "'</b> copied to clipboard", "success");
        },
        clearTagsSearch() {
            this.tagsSearch = '';
        },
        loadTags() {
            this.tagsLoader = true;
            axios.post('/d/pswrds/loadTags',{
                tagsSearch: this.tagsSearch,
                selectedTags: this.vTablesConfigs[this.mainTableRef].filters.tags,
                search: this.table_search
            })
            .then((res) => {
                if (res) { // is false if access is denied
                    this.tags = res.data;
                    this.vTablesConfigs[this.mainTableRef].filters.tags.map((hash, hashIndex) => {
                      let index = this.tags.findIndex(t => t.hash === hash)
                      if (index !== -1) {
                        const checkSelected = this.selectedTags.findIndex(t => t.hash === hash)
                        if (checkSelected === -1) {
                          this.selectedTags.push(this.tags[index])
                        }
                      }
                    })
                } else {
                  this.vTablesConfigs[this.mainTableRef].filters.tags = []
                }
                this.tagsLoader = false;
            })
            .catch(() => {
              this.tagsLoader = false;
            })
        },
        tableAction_copy_username(data) {
          this.copyCellContent(data.data.username,'Username','username')
        },
        tableAction_copy_password(data) {
            this.copyCellContent(data.data.pswrd,'Password','pswrd')
        },
        tableAction_copy_url(data) {
            this.copyCellContent(data.data.url,'URL','url')
        },
        tableAction_open_url(data) {
          window.open(data.data.url, '_blank')
        },
        addTag() {
          const tag =   this.tagsSearch
          this.tagsSearch = '';
          axios.post('/d/pswrds/addTag',{
            tag: tag
          })
              .then((res) => {
                if (res) {
                  this.tags.push(res.data);
                }
              })
        },
        clickHelper(tag) {
          this.clicks++;
          if(this.clicks === 1) {
            var self = this;
            this.timer = setTimeout(function() {
              self.addTagFilter(tag);
              self.clicks = 0;
            }, this.delay);
          } else{
            clearTimeout(this.timer);
            this.openEditModal(tag);
            this.clicks = 0;
          }
        },
        addTagFilter(tag) {
          const index = this.selectedTags.findIndex(t => t.hash === tag.hash)
          if (index === -1) {
            this.selectedTags.push(tag);
            this.updateTagsFilter();
          }
        },
        openEditModal(tag) {
          this.tagForm = {...tag};
          this.selectedTagTitle = tag.title
          this.$bvModal.show('tag-modal');
        },
        removeTagFilter(tag) {
          const index = this.selectedTags.findIndex(t => t.hash === tag.hash);
          if (index !== -1) {
            this.selectedTags.splice(index, 1);
          }
          this.updateTagsFilter();
        },
        updateTagsFilter() {
          const tags = [];
          this.selectedTags.map(tag => {
            if (!tags.includes(tag.hash)) {
              tags.push(tag.hash);
            }
          })
          this.vTablesConfigs[this.mainTableRef].filters.tags = tags;
          this.loadTags()
        },
        editTag() {
          this.modalLoading = true
          axios.post('/d/pswrds/editTag', this.tagForm)
              .then((res) => {
                if (res) {
                  if (res && res.data && res.data.hash) {
                    const index = this.tags.findIndex(t => t.hash === res.data.hash);
                    if (index !== -1) {
                     Object.assign(this.tags[index], res.data);
                    }
                    this.$bvModal.hide('tag-modal');
                  }
                  this.tagForm = null;
                }
                this.modalLoading = false
              })
              .catch(() => {
                this.modalLoading = false
                this.tagForm = null;
                this.$bvModal.hide('tag-modal');
              })
        },
        deleteTag() {
          this.modalLoading = true
          this.$utils.swalConfirm.fire({
            title: 'Are you sure you want to delete?',
            text: '',
            showCancelButton: true,
            confirmButtonText: 'Confirm'
          }).then((result) => {
            if (result.value) {
              axios.post('/d/pswrds/deleteTag', this.tagForm)
                  .then((res) => {
                    this.$utils.c_notify(res.data.res, res.data.status);
                    const index = this.tags.findIndex(t => t.hash === this.tagForm.hash)
                    if (index !== -1) {
                      this.tags.splice(index, 1);
                    }
                    this.tagForm = null;
                    this.$bvModal.hide('tag-modal');
                  })
                  .catch(() => {
                    this.tagForm = null;
                    this.$bvModal.hide('tag-modal');
                  })
            }
            this.modalLoading = false
          })
        },
        toggleTags() {
          this.tagsOpened = !this.tagsOpened
          this.vTablesConfigs.pswrdsIndex.cols[ this.getColumnIndex( 'pswrdsIndex', 'title' ) ].visible = false;
        },
        isTagSelected(tag_hash) {
            // console.log(this.selectedTags.findIndex(o => o.hash == isTagSelected));
            return { highlight_tag: this.selectedTags.findIndex(o => o.hash == tag_hash) != -1}
        },
        checkboxToggled(data) {
            this.selectedHashes = data.checkboxes;
        },
        tagsBulk(action) {
            this.tagsBulkAction = action;
            this.tagBulkForm.tags = null;
            this.$bvModal.show('tags-bulk-modal');
        },
        tagsBulkUpdate() {
            this.modalLoading = true;
            axios.post('/d/pswrds/' + this.tagsBulkAction, {
                tags: this.tagBulkForm.tags,
                hashes: this.selectedHashes
            })
            .then((res) => {
                this.$utils.c_notify(res.data.res, res.data.status);
                this.modalLoading = false;
                this.$bvModal.hide('tags-bulk-modal');
            })
            .catch(() => {
                this.modalLoading = false;
                this.$bvModal.hide('tags-bulk-modal');
            })
        },
        clearAllFilters()
        {
            var resetFilters    = { tags: [] };
            var toggledCols     = this.$store.state.tables[this.mainTableRef].colsToggled
            this.vTablesConfigs[this.mainTableRef].filters = resetFilters;

            this.$store.commit('setNewTable', {
                tableRef: this.mainTableRef,
                filters: resetFilters,
                col: this.vTablesConfigs[this.mainTableRef].col
            });
            this.$store.commit('setTableToggledCols', {
                 tableRef: this.mainTableRef,
                 col: toggledCols
            });

            this.$refs[this.mainTableRef + 'Search'].clearSearch()
            this.selectedTags = [];
            this.tagsSearch = '';
            // this.updateTagsFilter();
            this.$refs.pswrdsIndexSearch.$refs.input.focus()
        },
        tableSearchUpdated(val) {
            this.table_search = val.search
            this.loadTags()
        },
        listFavorite()
        {
            this.favoriteOnly = !this.favoriteOnly
            this.vTablesConfigs[this.mainTableRef].filters.favorite = this.favoriteOnly
        },
        keyPressListener(event)
        {
            if (event.key === 'S') {
                event.preventDefault();
                this.clearAllFilters();
            }
            else if (event.key === 'F')
            {
                event.preventDefault();
                this.$refs.pswrdsIndexSearch.$refs.input.focus()
            }
        }
    },
    mounted() {
        this.loadTags();
        if (document.documentElement.clientWidth <= 961) {
            this.toggleColumn(this.mainTableRef,'__component:table-action-btns', false);
            this.toggleColumn(this.mainTableRef,'__checkbox', false);
            this.toggleColumn(this.mainTableRef,'created_at', false);
            this.toggleColumn(this.mainTableRef,'updated_at', false);
        }
        window.addEventListener("keydown", this.keyPressListener);
    }
}
</script>

<style scoped>
.highlight_tag {
    background-color: rgba(0, 128, 0, 0.26);
}
.tags-menu {
    width: 300px;
    min-width: 300px;
}
ul#tags {
    margin-top: 20px;
}
ul#tags > li {
    cursor: pointer;
    border-bottom: 1px dotted #0444b5;
    padding: 7px;
    font-size: 15px;
}
ul#tags > li > i {
    margin-right: 5px;
}
ul#tags > li:hover {
    background-color: #0445b517;
}
.tagsLoader {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.table-actions {
    width: 350px;
    text-align: right;
}
.table-header {
  display: flex;
  width: calc(100% - 360px);
  flex-flow: row;
}
.table-header .tableSearchGroup {
  width: 200px;
}
.table-header .selected-tags {
  width: calc(100% - 300px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.selected-tags .selectedTag {
  margin-left: 5px;
}
.selected-tags .selectedTag .vs__deselect {
  color: #c1c1c1;
  position: relative;
  top: 1px;
  font-weight: 600;
}
.mobileTags {
  display: none;
}
.tagsToggle {
  display: none;
}
.footer_alignment {
    min-height: calc(100vh - 120px);
}
</style>
<style lang="scss">
.urlCell {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}
@media (max-width:961px) {
  .selected-tags .selectedTag {
    margin-bottom: 5px;
  }
  .tagsToggle {
    display: block!important;
    cursor: pointer;
    &.active {
      color: var(--primary);
    }
  }
  .pageContent {
    flex-direction: column;
    .contentTable {
      margin-top: 1rem;
    }
    .tags-menu {
      width: 100%;
      height: 0px;
      overflow: hidden;
      -webkit-transition: height 0.5s linear;
      -moz-transition: height 0.5s linear;
      -ms-transition: height 0.5s linear;
      -o-transition: height 0.5s linear;
      transition: height 0.5s linear;
      &.active {
        height: 450px;
        overflow-y: auto;
        -webkit-transition: height 0.5s linear;
        -moz-transition: height 0.5s linear;
        -ms-transition: height 0.5s linear;
        -o-transition: height 0.5s linear;
        transition: height 0.5s linear;
      }
    }
    .table-wrap {
      width: 100%;
      overflow-x: scroll;
    }
    .formComponent {
      width: 100% !important;
    }
  }
}
@media (max-width:641px) {
    .content-wrap {
        padding-left: 20px;
        padding-right: 20px;
    }
  .table-header {
    width: 50%!important;
    .tableSearchGroup {
      width: 100%!important;
    }
    .selected-tags {
      display: none !important;
    }
  }
  .table-actions {
    display: flex;
  }
  .table-actions > button ,
  .table-actions > .dropdown
  {
      margin-left: 4px;
  }
  .table-header {
      width: 100% !important;
      display: block !important;
  }
  .table-actions {
      width: 100% !important;
      display: block !important;
      text-align: center !important;
        padding-top: 1em;
  }
  .mobileTags {
    display: flex!important;
    margin-bottom: 1rem;
    .selected-tags {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
</style>
