<template>
<div :class="c_panelClasses" class="onComponentLoad formComponent component-page">
    <form @submit.prevent="saveForm(false)">
        <div class="panel-title-wrap text-right">
            <div class="panel-btns">
                <btn v-if="isExistingForm" variant="outline-danger" @click="deleteRecord" title="Delete"><i class="fal fa-trash-alt"></i></btn>
                <btn v-if="formReady" variant="outline-warning" title="Favority" @click="toggleFavorite"><i :class="{'fal fa-star': !forms.main.values.favorite, 'fas fa-star': forms.main.values.favorite }"></i></btn>
                <btn type="submit" variant="outline-success" title="Save"><i class="fal fa-save"></i></btn>
                <btn variant="outline-success" @click="saveAsNew" title="Save As New"><i class="fal fa-file-import"></i></btn>
                <btn variant="outline-success" @click="saveForm(true)" title="Save &amp; Close"><i class="fal fa-share-square"></i></btn>
                <btn variant="outline-success" @click="saveForm(false,'resetFormValues')" title="Save &amp; Add New"><i class="fal fa-layer-plus"></i></btn>
                <btn variant="outline-primary" @click="closePanel" title="Close"><i class="fal fa-times"></i></btn>
            </div>
        </div>

        <div class="form-content">
            <div v-show="loading" class="form-loader"><div><i class="fad fa-circle-notch fa-spin fa-4x"></i></div></div>
            <b-container v-if='formReady'>
                <b-row>
                    <b-col class="mb-3 d-flex">
                        <f-set v-model="forms.main.values.title" :data="forms.main.fields.title" cssClass="flex-grow-1 pr-1"/>
                        <div class="pt-4">
                            <btn variant="outline-primary" @click="copyField('title')" title="Copy Title"><i class="fal fa-copy"></i></btn>
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="mb-3 d-flex">
                        <f-set v-model="forms.main.values.username" :data="forms.main.fields.username" cssClass="flex-grow-1 pr-1"/>
                        <div class="pt-4">
                            <btn variant="outline-primary" @click="copyField('username')" title="Copy Username"><i class="fal fa-copy"></i></btn>
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="mb-3 d-flex">
                        <f-set v-model="forms.main.values.pswrd" :data="forms.main.fields.pswrd" cssClass="flex-grow-1 pr-1"/>
                        <div class="pt-4 pwd-actions">
                            <btn variant="outline-danger" @click="showHidePass" title="Show/Hide"><i class="fal fa-eye"></i></btn>
                            <btn variant="outline-success" @click="genNewPass" title="Generate New Password"><i class="fal fa-magic"></i></btn>
                            <btn variant="outline-primary" @click="copyField('pswrd')" title="Copy Password"><i class="fal fa-copy"></i></btn>
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="mb-3 d-flex">
                        <f-set v-model="forms.main.values.url" :data="forms.main.fields.url" cssClass="flex-grow-1 pr-1"/>
                        <div class="pt-4">
                            <btn variant="outline-primary" @click="copyField('url')" title="Copy Url"><i class="fal fa-copy"></i></btn>
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="mb-3">
                        <f-set v-model="forms.main.values.tags" :data="forms.main.fields.tags" cssClass="tagsInput flex-grow-1 pr-1"/>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="mb-3">
                        <label for="">Notes</label>
                        <f-noteslist
                            ref="pswrd_notes"
                            v-model="forms.main.values.pswrd_notes"
                            :hash="hash"
                            slug="pswrd"
                            :name="forms.main.fields.pswrd_notes.name"
                            direction="vertical"
                            :reload="formSaveSuccessEvent"
                        />
                    </b-col>
                </b-row>
                <b-row v-show="this.hash">
                  <b-col cols="12" class="mb-3">
                    <label>Date Added:</label>
                    <span>{{ dateTimeFormat(pageData.created) }}</span>
                  </b-col>
                  <b-col cols="12" class="mb-3">
                    <label>Date Modified:</label>
                    <span>{{ dateTimeFormat(pageData.updated) }}</span>
                  </b-col>
                </b-row>
            </b-container>
        </div>
    </form>
</div>
</template>

<script>

import form from '@/mixins/form'
import panel from '@/mixins/panel'
import formatting from '@/mixins/formatting';
import crypt from '@/mixins/crypt'
import table from '@/mixins/table'
import {utils} from "../../../_oad_repo/utils";

export default {
    mixins: [form,panel,formatting,crypt,table],
    data() {
        return {
            formUri: '/pswrds',
            formId: 'pswrdsForm',
            fieldType: 'password',
            newPassGenerated: false,
            beforeSaveFunction: 'encryptPassword',
          afterSaveFunction: 'decryptPassword',
        }
    },
    watch: {
        fieldType(val) {
            this.forms.main.fields.pswrd.type = val;
        },
        formSaved() {
            this.newPassGenerated = false
        }
    },
    methods: {
        showHidePass() {
            this.fieldType = this.fieldType == 'password' ? 'text' : 'password';
        },
        genNewPass() {
            if (this.newPassGenerated == false) {
                this.$utils.swalConfirm.fire({
                    title: 'Generate New Password?',
                    showCancelButton: true,
                    confirmButtonText: 'Confirm'
                }).then((result) => {
                    if (result.value) {
                        this.genPassFunc()
                    }
                })
            } else {
                this.genPassFunc()
            }
        },
        genPassFunc() {
            var length          = 12;
            var result           = '';
            var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789_@!';
            var charactersLength = characters.length;
            for ( var i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            this.forms.main.values.pswrd = result;
            this.newPassGenerated = true;
        },
        afterFormLoaded(data) {
            if (this.hash.length == 0) {
              this.genPassFunc();
            } else {
              this.decryptPassword()
            }
        },
        capitalizeFirstLetter(string) {
          return string.charAt(0).toUpperCase() + string.slice(1);
        },
        copyField(fieldName) {
            let value = this.forms.main.values[fieldName];
            this.$utils.copyToClipboard(value);
            this.$utils.c_notify( "<b>'" + this.capitalizeFirstLetter(fieldName) + "'</b> copied to clipboard", "success");
        },
        encryptPassword() {
          this.forms.main.values.pswrd = this.encrypt(this.forms.main.values.pswrd)
        },
        decryptPassword() {
          this.forms.main.values.pswrd = this.decrypt(this.forms.main.values.pswrd)
        },
        saveAsNew() {
            this.hash = '';
            this.saveForm(false);
        },
        toggleFavorite()
        {
            this.forms.main.values.favorite = !this.forms.main.values.favorite
        },
        deleteRecord()
        {
            if (this.isExistingForm)
            {
                this.$utils.swalConfirm.fire({
                    title: 'Delete this item?',
                    text: '',
                    showCancelButton: true,
                    confirmButtonText: 'Confirm'
                }).then((result) => {
                    if (result.value)
                    {
                        axios.delete(this.$parent.vTablesConfigs.pswrdsIndex.url + '/' + this.hash)
                        .then((res) =>
                        {
                            this.$utils.c_notify(res.data.res, res.data.status);
                            if (res.data.status == 'success')
                            {
                                this.closePanel();
                                this.tableRefresh('pswrdsIndex')
                            }

                        })
                    }
                })
            }
        }
    }
}
</script>
<style scoped>
.formComponent {
    width: 500px;
    left: auto;
    box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.1);
}
.pwd-actions {
    min-width: 137px !important;
}
</style>
<style lang="scss">
.tagsInput {
  position: relative;
  .v-select {
    min-height: 100px;
    .vs__dropdown-toggle {
      min-height: 100px;
      height: 100%;
      .vs__selected-options {
        height: 100%;
        span {
          &.vs__selected {
            opacity: 1;
          }
        }
      }
    }
  }
  .vs__dropdown-menu {
    position: absolute;
    top: 0;
  }
}
</style>
